.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  padding: 8px;
  width: 90%;
  margin: auto;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: auto;
  height: 500px;
}

button {
  padding: 10px;
  margin: 3%;
  background-color: khaki;
  border: 2px solid white;
  border-radius: 10px;
  width: 9em;
}
